@import 'mixin';

.feature-section {
  @include section-space;
  .column {
    border-radius: 5px;
    .feature-heading {
      @include heading2;
      @include respond(md) {
        text-align: center;
      }
      .inline-flex {
        display: inline-flex;
        flex-flow: column;
        .dolor {
          color: #46B0E6;
        }
        svg {
          @include respond(md) {
            width: 92px;
          }
          @include respond(sm) {
            width: 72px;
          }
        }
      }
    }
    .comment-section {
      margin-top: 50px;
      display: flex;
      flex-flow: column;
      box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.08);
      row-gap: 24px;
      max-height: 466px;
      overflow: scroll;
      ::-webkit-scrollbar {
        display: none;
      }
      scrollbar-width: none;
      .comment {
        display: flex;
        column-gap: 10px;
        padding: 24px;
        border-radius: 10px;
        background: #F6FBF8;
        box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.08);
        transition: box-shadow 0.3s;
        .user-img {
          align-self: center;
        }
        .users {
          display: flex;
          row-gap: 10px;
          flex-flow: column;
          span {
            @include paragraph;
          }
          .user-name {
            color: #000000;
          }
        }
      }
    }
    .investment-img {
      @include respond(md) {
        height: 500px;
      }
      @include respond(sm) {
        height: 400px;
      }
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}
