@import 'mixin';
body {
  @include respond(md) {
    max-width: 900px;
    margin: auto;
  }
  @include respond(sm) {
    max-width: 700px;
    margin: auto;
  }
  @include respond(xs) {
    max-width: 500px;
    margin: auto;
  }
  font-family: 'Inter', sans-serif;
  max-width: 1201px;
  margin: auto;
  background-color: #EBF0FF;
  background-image: url('../assets/Background.png');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}